<div class="login">
    <p class="logo">FicList.me</p>
    <form action="">
        <div class="login-form">
            <div class = "form-labels">
                <p>USERNAME </p>
                <p>PASSWORD </p>
            </div>
            <div class = "form-inputs">
                <input type="text" name="" id=""/>
                <input type="password" name="" id=""/>
            </div>
        </div>
        <div class = "form-submit">
            <input type="submit" value="LOGIN">
        </div>
    </form>
    <!-- <a class = "form-register" href="#">REGISTER</a> -->
</div>